@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');
@import "tailwindcss";

.list-line{
    height: 18px;
    border-bottom: 1px solid #6868688f;
    margin-bottom: 18px;
}

.menu-content{
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease 0.1s;
    position: absolute;
    top: 85%;
    left: 0;
}

.menu-trigger:hover + .menu-content,
.menu-content:hover {
    opacity: 1;
    pointer-events: auto;
    transition-delay: 0s;
}

.menu-trigger{
    margin-bottom: 15px;
}

.divContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}

#btnInspiracje, #btnKartyPracy, #btnDyplomy{
    width: 85%;
    height: 60px;
    border-radius: 5px;
    transition: 0.5s;
    position: relative;
    overflow: hidden;
    z-index: 1;
}


#btnInspiracje::before, #btnDyplomy::before, #btnKartyPracy::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 100px;
    width: 60px;
    height: 100%;
    background-color: rgba(0, 66, 150, 0.1);
    transition: 0.3s;
    z-index: -1;
}

#btnInspiracje:hover::before, #btnDyplomy:hover::before, #btnKartyPracy:hover::before{
    width: 100%;
}

#btnKartyPracy::before{
    background-color: rgb(154, 52, 169, 0.1);
}

#btnDyplomy::before{
    background-color: rgb(255, 49, 0, 0.1);
}

@media (max-width: 900px){
    .tile-section{
        flex-direction: column;
        display: flex;
        align-items: center;
    }
    .tile-section > div {
        width: 100%;
        max-width: 370px;
    }
    .owl-img{
        width: 95%;
        object-fit: contain;
    }
}

@media (max-width: 1100px){
    .owl-img{
        height: 85%;
    }
}

@media (min-width: 901px) {
    .tile-section > div {
        flex: 1 1 0%;
        max-width: 370px;
        width: 100%;
    }
}

@layer theme {
  :root {
    --transparentdarkerbluetransparent10: rgba(0, 0, 139, 0.1);
  }
}

header {
  box-shadow: 0px 2px 4px 0px var(--transparentdarkerbluetransparent10);
  box-sizing: border-box;
}

main {
  margin-top: 30px;
}
